<h1>Backyard Lion International Daily Summary for <%= Date.today %></h1>
<h3>New Users: <%= @user_count %></h3>
<h3>New Athletes: <%= @athlete_profile_count %></h3>
<h2>Total Athletes: <%= @athlete_profile_aggregate_count %> </h2>
<h3>Number of new interests submitted by all users: <%= @interest_count %></h3>
<h3>Team validated & team_id: <%= @team_validated %></h3>
<h3>Team validated NO team_id: <%= @team_validated_no_id %></h3>



<h2>You can wake me up to kiss me anytime :)</h2>