<div class="nested-fields">
  <div class="individual-experience-prof">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          Sport:<span class="required-field-asterick">*</span>
          <%= f.select :sport, options_for_select(valid_sports, selected: f.object.sport), {}, class: "form-control sport-select", id: "#{f.object.class.name}-#{f.index}", onChange: "updatePositions(this.value, this.id, this.name)" %>
        </div>
        <div class="col-md-4">
          Primary Position: <%= f.select :primary_position, options_for_select(sport_positions, selected: f.object.primary_position), {include_blank: true}, class: "form-control" %>
        </div>
        <div class="col-md-4">
          Secondary Position: <%= f.select :secondary_position, options_for_select(sport_positions, selected: f.object.secondary_position), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          Level:<span class="required-field-asterick">*</span>
          <%= f.select :level, level_of_play, {selected: f.object.level}, class: "form-control" %>
        </div>
        <div class="col-md-4">
          Team: <%= f.text_field :team_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <strong>Start Year:</strong>
          <%= f.select :start_date, options_for_select(1988..2016, selected: f.object.start_date), { include_blank: true }, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <strong>End Year:</strong>
          <%= f.select :end_date, options_for_select(1988..2016, selected: f.object.end_date), { include_blank: true}, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <strong>Or Present?</strong>
          <%= f.check_box :present, class: "checkbox" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <%= link_to_remove_association "Delete", f, class: "btn btn-danger pull-right" %><br /><br />
  </div>
</div>
